{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>All Refunds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    
    <main role="main" class="container">
      <div class="form-row">
        <div class="form-group col-8">
          <h3>All Refunds</h3>
          {% if allRefunds %}
            <ul>
              <hr />
              {% for refund in allRefunds %}
                <li>
                  <b>Refund ID:</b><a href="{% url 'refunds:showRefundGUI' refund.refund_id %}"> {{ refund.refund_id }}</a>
                </li>
                <li>
                  <b>Amount:</b>{{ refund.amount }}</a>
                </li>
                <li>
                  <b>Associated Payment ID:</b><a href="{{payments_url}}paymentGUI/{{refund.payment_id}}"> {{ refund.payment_id }}</a>
                </li>
                <hr />
              {% endfor %}
            </ul>
          {% else %}
            <p>No refunds are available.</p>
            <hr />
          {% endif %}
          <a href="{% url 'refunds:filterRefundsGUI' %}"><button type="button" class="btn btn-primary" onclick="">Filter Refunds</button></a>    
        </div>
        <form method="GET" action=".">
          <div class="form-group col-lg-12">
            <label for="timeout"><h4>Refund Timeout</h4>(Currently at {{refundTimeout}} minutes)</label>
            <input type="text" class="form-control" required id="timeout" name="timeout" placeholder="Minutes...">
            <button type="submit" style="margin-top: 5px;" class="btn btn-success">Set Timeout</button>
          </div>       
        </form>
      </div>
    </main>
  </body>